.floating-input-wrapper {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding-top: 16px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #fff;
}

.floating-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  padding: 5px 0px 0px 0px;
}

.floating-input-wrapper.focused {
  border-color: #eba6a9;
}

.floating-label {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 13px;
  color: #aaa;
  transition: 0.2s ease all;
  pointer-events: none;
}

.filled .floating-label,
.focused .floating-label {
  top: 6px;
  font-size: 11px;
  color: #eba6a9;
}
