.base-input-wrapper {
  width: 100%;
}

.base-input {
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.2s;
}

.base-input:focus {
  border-color: #eba6a9;
}
