main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cosmetic-register-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
}

.base-input:focus {
  border-color: #eba6a9;
}

.input-error {
  font-size: 13px;
  color: #e74c3c;
  margin-bottom: 8px;
}
.base-select.is-form {
  display: block;
  width: 100%;

  .dropdown-trigger {
    padding: 20px 12px 4px; // 폼에서만 패딩
    display: block; // 세로 배치 유지
    margin-bottom: 8px;
  }
}
.category-input-wrapper {
  position: relative;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px 12px 4px;
  // background-color: #fafafa;
  background-color: #fff;
  margin-bottom: 8px;
  min-height: 48px;
}

.category-label {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 14px;
  color: #aaa;
  transition: 0.2s ease all;
  pointer-events: none;
}
.category-label.active {
  top: 6px;
  font-size: 11px;
  color: #eba6a9;
}

.category-input-value {
  color: #111;
}

.alarm-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 12px;
  // background-color: #fafafa;
  background-color: #fff;
}

.alarm-label {
  font-size: 14px;
  color: #333;
}

.alarm-box {
  margin-top: 12px;
  padding: 16px 12px;
  border: 1px solid #eee;
  border-radius: 12px;
  background-color: #fff;
}

.alarm-sub-label {
  font-size: 13px;
  color: #333;
  margin-bottom: 8px;
}

.alarm-buttons {
  display: flex;
  gap: 8px;
}

.alarm-btn {
  padding: 6px 12px;
  border-radius: 999px;
  background-color: #f1f1f5;
  font-size: 13px;
  color: #aaa;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.alarm-btn.selected {
  background-color: #eba6a9;
  color: #fff;
}
.submit-section {
  margin-top: 24px;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background-color: #eba6a9;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
}
