@use '../variables' as *;
.base-layout {
  position: relative;

  .category-tabs {
    display: flex;
    gap: 2rem;
  }
  .category-button {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 0 0 0.2rem 0;
    width: 20%;

    &.active {
      font-weight: bold;
      // background-color: $color-primary;
      // border-radius: 1rem;
      border-bottom: 1px solid;
    }
  }

  .search-filter {
    padding-top: 0.5rem;
    .search-wrapper {
      display: flex;
      align-items: center;
      // margin: 0.6rem;
      padding: 0.6rem 0.6rem;
      border: 1px solid $border-color-primary;
      border-radius: 12px;
      background-color: $background-color;

      .search-input {
        flex: 1;
        border: none;
        outline: none;
        font-size: $font-size-base;
        margin-left: 0.5rem;
        background: transparent;
      }

      .sort-display {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        .sort-dropdown {
          position: absolute;
          top: 100%;
          right: 0;
          margin-top: 8px;
          background: #fff;
          border: 1px solid $border-color-primary;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          padding: 0.5rem 0;
          z-index: 10;
          list-style: none;

          li {
            padding: 0.5rem 1rem;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
              background-color: #f7f7f7;
            }
          }
        }
      }

      svg {
        flex-shrink: 0;
      }
    }
  }

  .post-item {
    padding: 1rem 0.4rem;
    border-bottom: 1px solid #eee;
    list-style: none;

    .post-content {
      display: flex;
      justify-content: space-between;
      align-items: stretch; // 높이 맞추기
      gap: 1rem;
    }

    .post-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .category {
        width: fit-content;
        padding: 2px 8px;
        font-size: 12px;
        color: $text-color-primary;
        border-radius: 4px;
        background-color: $background-color-second;
        white-space: nowrap; // 줄바꿈 방지
        box-sizing: border-box;
      }

      .title {
        font-weight: bold;
        margin: 0.5rem 0;
      }

      .bottom-line {
        margin-top: auto;
        .author-date {
          font-size: 12px;
          color: #999;
          display: flex;
          gap: 0.5rem;
          align-items: flex-end;
        }
      }
    }

    .post-right {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .post-thumbnail {
        position: absolute;
        width: 56px;
        height: 56px;
        background: #ddd;
        border-radius: 8px;
        top: 0;
        right: 20px;
      }

      .bottom-line {
        .stats {
          display: flex;
          gap: 0.5rem;
          font-size: 12px;
          color: #666;
          max-width: 100%;
          padding-top: 64px;

          span {
            display: flex;
            align-items: center;
            gap: 4px;
          }
        }
      }
    }
  }

  .add-button {
    position: absolute;
    bottom: 80px;
    right: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f2b5ba;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    border: none;
    z-index: 10;

    svg {
      stroke-width: 4px;
    }
  }
}
