@use '@/assets/styles/variables' as *;
.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #eee;
  z-index: 100;

  .nav-item {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $button-color-primary;

    &.active {
      color: $point-color-primary;
    }

    // .icon path {
    //   width: 24px;
    //   height: 24px;
    //   // opacity: 0.5;
    //   transition: opacity 0.2s ease;
    //   stroke: $button-color-primary;
    // }

    // &.active .icon path {
    //   opacity: 1;
    //   stroke: $point-color-primary;
    // }
  }
}
