@use '@/assets/styles/variables' as *;
.auth-layout {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  min-height: 100dvh;
  max-width: 480px;
  margin: 0 auto;
  background-color: #fff;

  .auth-header {
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 2rem;

    .back-button {
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }

    .logo img {
      width: 45px;
      height: 40px;
      display: block;
      object-fit: contain;
    }
  }

  .auth-main {
    width: 100%;
    max-width: 480px;

    h1.auth-title {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    .auth-box {
      padding: 0px 12px 0px;
    }
    .form-group {
      margin-bottom: 1rem;

      label {
        // font-size: 0.875rem;
        margin-bottom: 0.5rem;
        display: block;
        font-size: 13px;
        color: #666;
      }

      .input-wrapper {
        position: relative;

        .form-input {
          width: 100%;
          padding: 0.75rem 2.5rem 0.75rem 0.75rem;
          font-size: 1rem;
          border: 1px solid #eee;
          border-radius: 10px;
          // background-color: #fafafa;
        }

        .icon {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 14px;

          &.success {
            color: green;
          }

          &.toggle {
            cursor: pointer;
          }

          img {
            width: 18px;
            height: 18px;
            object-fit: contain;
          }
        }
      }

      .forgot-password {
        text-align: right;
        margin-top: 7px;

        a {
          font-size: 14px;
          color: black;
        }
      }
    }

    .form-button.login {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 6px;
      background-color: $button-color-primary;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      margin-top: 8px;
      cursor: pointer;
    }

    .social-login-section {
      margin-top: 2rem;
      text-align: center;

      .divider {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 14px;
        color: #555; // 원하는 색상으로 변경

        &::before,
        &::after {
          content: '';
          flex: 1;
          border-top: 1px solid #ccc;
        }

        span {
          padding: 0 1rem;
          white-space: nowrap;
        }
      }

      .social-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        gap: 0.5rem;

        .social {
          border: 1px solid #eee;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;

          img {
            width: 50px;
            height: 50px;
            object-fit: contain;
          }
        }
      }
    }

    .register-link {
      text-align: center;
      font-size: 0.875rem;
      margin: 40px;

      a {
        font-weight: bold;
        color: #000000;
      }
    }
  }
}
