.floating-input-wrapper {
  position: relative;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 16px 12px 4px;
  background-color: #fff;
  margin-bottom: 8px;
}

.floating-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  padding: 5px 0px 0px 0px;
}

.floating-input-wrapper.focused {
  border-color: #eba6a9;
}

.floating-label {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 13px;
  color: #aaa;
  transition: 0.2s ease all;
  pointer-events: none;
  transform: translateY(-50%);
}

.filled .floating-label,
.focused .floating-label {
  top: 6px;
  font-size: 11px;
  color: #eba6a9;
  transform: none;
}
