$background-color: #fff;
$background-color-second: #eee;

$color-primary: #f9e3e6;
$color-second: #fff8f4;

$text-color-primary: #333;
$text-color-second: #5c3a36;

$border-color-primary: #ccc;

$point-color-primary: #a78bfa;

$button-color-primary: #eba6a9;
$button-color-second: #926e67;

$font-size-large: 16px;
$font-size-base: 14px;
$font-size-sm: 12px;

$radius: 8px;
$spacing: 16px;
