$color-primary: #f9e3e6;
$color-text: #333;
$color-border: #ccc;
$color-second: #fff8f4;
$point-color-primary: #a78bfa;

$button-color-primary: #eba6a9;

$font-size-base: 16px;
$font-size-sm: 14px;

$radius: 8px;
$spacing: 16px;
