@use './variables' as *;

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  color: $color-text;
}

.main-layout {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  min-height: 100dvh;
  max-width: 480px;
  margin: 0 auto;
  background-color: white;
}
