@use './variables' as *;
@use './auth' as auth;
@use './nav.scss' as nav;
@use './chat/_chat' as chat;
@use './post/_post' as post;
@use './chat/chatList' as chatList;
@use './pageHeader.scss' as pageHeader;
@use './notification/notification' as notification;
@use './baseHeader.scss' as baseHeader;
@use './post/postList' as postList;
@use './myCosmetic/myCosmeticRegisterForm.scss' as myCosmeticRegister;

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  color: $color-text;
}
