@use './variables' as *;
@use './auth' as auth;
@use './chat/_chat';
* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  color: $color-text;
}
