.page-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0rem 0rem 0.5rem 0rem;
  border-bottom: 1px solid #eee;

  .page-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    font-weight: bold;
  }

  .back-button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .setting-wrapper {
    position: relative;
    cursor: pointer;

    .setting-icon {
      font-size: 18px;
    }
  }
}
